name: Publish Extension

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        default: minor
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Dependencies # vsce etc
        run: | # shell
          npm i

      - name: Setup Github Actions # allow use of `git push`
        run: | # shell
          git config --global user.name "RedCMD"
          git config --global user.email "theredcmd@gmail.com"
          git add .
          git diff-index --quiet HEAD || git commit -m "Sync Github Actions"

      - name: Test # check grammars are working
        run: | # shell
          npm run test

      - name: Publish # upload to Extension Marketplace
        run: | # shell
          npm run publish --- ${{ github.event.inputs.version }} -p ${{ secrets.VSCE_PAT }}
          git push
